@import url('https://fonts.googleapis.com/css?family=Comfortaa');
*{
  font-family: 'Comfortaa';
}
.quizContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(177, 177, 177);
  background-color: var(--secondary-color);
  height: 70px;
  max-width: 500px;
  transition: all .3s ease-in-out;
}

.quizButton {
  max-width: 300px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  background-color: var(--primary-color);
  box-shadow: inset 0 0 0 0 #d5d5d5;
  transition: ease-out 0.4s;
  outline: none;
  margin: 10px;
}
.quizInput{
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(170, 204, 204);
  margin-left: 20px;
  width: 300px;
}
.quizForm{
  max-height: 160px;
}
