@import url('https://fonts.googleapis.com/css?family=Comfortaa');
*{
  font-family: 'Comfortaa';
}




.quiz-container {
  background-color: rgb(232, 232, 232);
  justify-content: center;
  align-items: center;
  margin: 20px; 
  padding-bottom: 20px;
  
}



label {
  display: inline-block;
  padding: 10px;
}

input {
display: inline-block;
position: relative;

}

.choice-container {
  display: inline-block;
}

.quizButton {
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: inline-block;
  border: none;
  padding: 4px;
  background-color: #71b8a4;
  border-radius: 30px;
  margin: auto;
  margin-right: 20px;
  margin-top: 10px;
  width: 150px;
  box-shadow: inset 0 0 0 0 #d5d5d5;
  transition: ease-out 0.4s;
  outline: none;
  position: relative;
  left: 25%;
  transform: translate(-25%, 0);
}

.quizButton:hover  {
  box-shadow: inset 150px 0 0 0 #609c8b;
  cursor: pointer;

}

.anotherButton{
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: inline-block;
  border: none;
  padding: 4px;
  background-color: #528678;
  border-radius: 30px;
  margin: auto;
  margin-right: 20px;
  margin-top: 10px;
  width: 150px;
  box-shadow: inset 0 0 0 0 #d5d5d5;
  transition: ease-out 0.4s;
  outline: none;
  position: relative;
  left: 20%;
  transform: translate(-30%, 0);

}

.anotherButton:hover  {
  box-shadow: inset 150px 0 0 0 #609c8b;
  cursor: pointer;

}

select{
  border: none;
  width: 70px;
  border-radius: 30px;
  background-color: #93dcc7;
  height: 25px;
}

